html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

button, a, h1, h2, h3, h4, h5, h6, span, div, input, del {
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ellipsis-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 2.5em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.25;
  text-overflow: ellipsis;
}

.clamp1 {
  max-height: 1.5em;
  -webkit-line-clamp: 1;
}

.clamp2 {
  max-height: 2.5em;
  -webkit-line-clamp: 2;
}

.clamp3 {
  max-height: 3.8em;
  -webkit-line-clamp: 3;
}

.rc-rate-star-half:hover .rc-rate-star-first,
.rc-rate-star-full:hover .rc-rate-star-second {
  color: #ff1d47;
  transform: scale(1.2);
}

.rc-rate-star-half .rc-rate-star-first,
.rc-rate-star-full .rc-rate-star-second {
  color: #fb4466;
  transition: all .3s;
  cursor: pointer;
}

.primary-btn {
  background: #f94467;
  background: linear-gradient(0deg, #f94467 0%, rgba(255, 143, 118, 1) 94%);
  box-shadow: 0px 2px 10px 0 #e84c66;
}

#btnLeft:active {
  width: 70px;
  height: 74px;
}

.product-image {
  position: relative;
  overflow: hidden;
  .product-image-shadow {
    display: block;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    z-index: 9;
    filter: blur(17px);
  }
}

.product-options-wrapper{
  @media screen and (min-width:640px){
    > .sm\:w-1\/2:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  @media screen and (min-width:1024px){
    > *:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}